@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

html, body { height: 100%; }

body {
  background: rgb(241 245 249); /* slate-100 */
}

input, select, textarea, button { font: inherit; }

/* καλύτερο tap feel στο mobile */
* { -webkit-tap-highlight-color: transparent; }
